{% extends 'base.html.twig' %}

{% block title %}RappNet{% endblock %}

{% block body %}


    <article style="padding:50px 20px">

        <div id="slider"></div>
        {{ form(searchForm) }}

        The top {{ topAccounts|length }} posters accounted for {{ topTotal }} of {{ total }} messages.

    </article>

    <div class="row">
        <div class="col-md-6">
            chart canvas here.
            <canvas id="myChart"></canvas>

            <div id="div_chart"></div>
        </div>
        <div class="col-md-6">
            <div id="column_chart"></div>
        </div>
    </div>

    <div class="example-wrapper">
    </div>

{% endblock %}

{% block stylesheets %}
    <style>
        #myChart {
            width: 500px;
        }
    </style>
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    {{ encore_entry_script_tags('chart') }}



{% endblock %}
