{% extends 'base.html.twig' %}

{% block title %}RappNet{% endblock %}

{# templates/form/fields.html.twig #}
{% form_theme searchForm _self %}
{% block form_row %}
    {% spaceless %}
        <span class="form-inline">
            {{ form_label(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            {{ form_help(form) }}
        </span>
    {% endspaceless %}
{% endblock form_row %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}


{% block body %}


    {# base url, so we don't have to load fosrouting #}
    {% set url = path('message_count_data')  %}


    <div>
        {{ form_start(searchForm, {
            name: 'searchForm',
            widget_attrs: {class: 'form-inline'},
            attr: {id: 'searchForm', class: 'form-inline'}
        }) }}

        {{ form_rest(searchForm) }}
        <input type="submit" value="Permalink" class="btn btn-sm" />
        {{ form_end(searchForm) }}
    </div>

    <div id="myPieChart" data-url="{{ url }}"></div>

    <div class="row">
        <div class="col-md-9">
        </div>
        <div class="col-md-3">
            <div id="column_chartxx"></div>
        </div>
    </div>

<div class="row">
    <div class="col-md-12">
        <div id="column_chart" ></div>
    {% if app.environment == 'dev' %}
        <a id="url_link" target="_blank" href="{{ url }}">
            <i class="fa fa-bug">Debug</i>
        </a><br />
        <a href="{{ path('monthly_count_data') }}">Monthly Data</a>
    {% endif %}
    </div>
</div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('home') }}

    {#

    <textarea>
        Pie Chart
            {{ gc_draw(piechart, 'div_chart') }}
    </textarea>

    <textarea>
        {{ gc_draw(columnChart, 'column_chart') }}

    </textarea>
    #}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


    <script type="text/javascript">
        {#
    {{ gc_draw(piechart, 'div_chart') }}
    #}
    {{ gc_draw(columnChart, 'column_chart') }}
</script>
{% endblock %}
