<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{{ app.request.baseUrl }}{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/news.css') }}">
        {#
        <link href="{{ asset('/build/css/sb-admin.css') }}" rel="stylesheet">
        #}
        {# HACK because I can't figure out how to load this in app.cscc or anywhere else, so just grab easyadmin's. #}
        <link href="{{ asset('/bundles/easyadmin/stylesheet/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('/bundles/easyadmin/stylesheet/bootstrap.min.css') }}" rel="stylesheet">
    {% endblock %}

    <!-- Bootstrap Core CSS -->



    <!-- MetisMenu CSS -->
    {#
    <!-- Custom Fonts -->
    <link href="{{ asset('build/font-awesome.css') }}" rel="stylesheet" type="text/css">

    <link href="/sb2-vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->

    <!-- Morris Charts CSS -->
    <link href="/sb2-vendor/morrisjs/morris.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    #}
    <![endif]-->

</head>

<body>

<div id="page-wrapper">


    {#
    {{ wo_render_breadcrumbs() }}
    {% set menu = knp_menu_get('sidebar', [], {include_homepage: false}) %}
    {{ knp_menu_render(menu) }}
#}

    {% block body %}
        {{ block('content') }}
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('build/js/app.js') }}"></script>
        {#
        <script src="/sb2-js/sb-admin-2.js"></script>
        <script src="/sb2-vendor/metisMenu/metisMenu.min.js"></script>

        <!-- Morris Charts JavaScript -->
        <script src="/sb2-vendor/raphael/raphael.min.js"></script>
        <script src="/sb2-vendor/morrisjs/morris.min.js"></script>
        #}
        {#
        <script src="../data/morris-data.js"></script>
         #}
    {% endblock %}

    <!-- jQuery -->
    {#
    <script src="/sb2-vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/sb2-vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->

    <!-- Custom Theme JavaScript -->
    #}

</div>
<!-- /#page-wrapper -->

</body>

</html>
